@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');


body {
    margin: 0;
    background-color: #e6edff;
    font-family: 'Outfit', sans-serif;
}

.header {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: block;
    font-size: 10px;
    margin: 50px;
}

@media (max-width: 480px) {

    .name {
        color: #001347;
    }


    .txt-left {
        margin-left: 12%;
    }

    .txt-left h3 {
        padding-right: 22%;
        text-align: right;
    }

    .txt-left p {
        padding-right: 22%;
    }

    .navigation ul li {
        display: flex;
        margin-right: 60px;
        font-size: 18px;
        text-decoration: none;
        color: #001347;
    }

    .over-mij {
        display: flex;
    }

    .over-mij div {
        flex: 1;
    }

    .over-mij div img {
        width: 65%;
        border-radius: 50%;
        margin-left: 25%;
    }

    .hobbies {
        display: flex;
    }

    .hobbies div {
        flex: 1;
    }

    .hobbies div img {
        width: 65%;
        border-radius: 50%;
        align-items: left;
    }

    .school {
        display: flex;
    }

    .school div {
        flex: 1;
    }

    .school div img {
        width: 65%;
        border-radius: 50%;
        margin-left: 25%;
    }


    .socials {
        display: flex;
    }

    .socials div {
        flex: 1;
    }

    .socials div img {
        width: 65%;
        border-radius: 50%;
    }

}


@media (min-width: 480px) {

    .name {
        text-decoration-color: #001347;
    }

    .txt-left {
        margin-left: 12%;
    }

    .txt-left h3 {
        padding-right: 25%;
        text-align: right;
    }

    .txt-left p {
        padding-right: 25%;
    }

    .navigation ul li {
        display: inline-block;
        margin-right: 30px;
        font-size: 18px;
        text-decoration: none;
        color: #001347;
    }

    .over-mij {
        display: flex;
    }

    .over-mij div {
        flex: 1;
        margin-top: 50px;
    }

    .over-mij div img {
        width: 65%;
        border-radius: 50%;
        margin-left: 25%;
    }

    .hobbies {
        display: flex;
    }

    .hobbies div {
        flex: 1;
    }

    .hobbies div img {
        width: 65%;
        border-radius: 50%;
    }

    .school {
        display: flex;
    }

    .school div {
        flex: 1;
    }

    .school div img {
        width: 65%;
        border-radius: 50%;
        margin-left: 25%;
    }


    .socials {
        display: flex;
    }

    .socials div {
        flex: 1;
    }

    .socials div img {
        width: 65%;
        border-radius: 50%;
    }

    .socials div h3 p {
        display: block;
    }
}